<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688999576762-sdstmsmqc78b9k6unr49m15tja1b0oo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688999576762-sdstmsmqc78b9k6unr49m15tja1b0oo4</string>
	<key>API_KEY</key>
	<string>AIzaSyCDVbuLLMPaGwN_ldhshPHtL5lzOH1ls_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>688999576762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innovativescripts.tronicassociates</string>
	<key>PROJECT_ID</key>
	<string>tronicaassociates-8b74b</string>
	<key>STORAGE_BUCKET</key>
	<string>tronicaassociates-8b74b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688999576762:ios:bac2983b22b10a44e73e83</string>
</dict>
</plist>